<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.itigao">

    <permission
        android:name="com.example.itigao.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许手机振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许挂载和反挂载文件系统可移动存储 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许使用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permissions required for GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!---->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!---->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="com.example.fitdemo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity android:name=".InitializeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required since JCore 1.1.7. SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.example.itigao.DataProvider"
            android:exported="false" />

        <!-- Required since JMessage 2.7.0 SDK 核心功能-->
        <provider
            android:name="cn.jpush.im.android.helpers.ipc.IMProvider"
            android:authorities="com.example.itigao.IMProvider"
            android:exported="false" />

        <!-- Required JMessage SDK核心功能-->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />

        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="784339f676cfaa94e767844a" />

        <activity android:name=".MainActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".None.VideoPlayActivity"
            tools:ignore="InnerclassSeparator"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>



        <activity android:name=".User.UserRegistActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".User.UserLoginActivity"
            tools:ignore="InnerclassSeparator">

        </activity>


        <activity android:name=".Broad.BroadcastActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".HuDong.HuDongActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".Personal.PersonClassActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".Personal.PersonDeviceActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".Personal.PersonChangeActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".Personal.PersonExamActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".Personal.PersonIndoorActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".None.VideoRankActivity"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".HuDong.HuDongPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" /> <!-- or android:screenOrientation="landscape"-->

        <activity android:name=".HuDong.HuDongPutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">

        </activity>

        <activity android:name=".Broad.GoBroadActivity"
            android:screenOrientation= "portrait"
            tools:ignore="InnerclassSeparator">

        </activity>


        <activity android:name=".Classes.BaseActivity"
            tools:ignore="InnerclassSeparator">
        </activity>

        <activity android:name=".None.VideoActivity"
            tools:ignore="InnerclassSeparator"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Video.VideoNewActivity"
            tools:ignore="InnerclassSeparator"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Broad.BroadNewActivity"
            tools:ignore="InnerclassSeparator"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>



    </application>

</manifest>